.budget-plan-control-container {
  width: 100%;
  margin: 1.6rem 0;
  .budget-control-title{
    margin: 0.2rem 0;
  }
  .budget-plan-control {
    width: 50rem;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    input[type='text'] {
      width: 20%;
    }
  }
}
